@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #3a3939;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #4285f4;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #2c2929;
  border-radius: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(250%);
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.imageContainer {
  height: 730px;
}
